
* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
  text-align: center;
}

.menu a:focus {
    outline: none;
    position: relative;
  }
 .menu a:focus:after, .menu a:hover:after {
    width: 50px;
  }
  .menu a:after {
    content: "";
    background: #FBFBFB;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 5px;
    height: 3px;
    width: 0;
    transition: .5s;
    transition-delay: .2s;
  }
  
  .menu {
    margin: 0px;
    max-width: 800px;
  }
  .menu > ol {
    list-style: none;
    margin: 0px 0;
    padding: 0;
    display: block;
    max-width: none;
  }
  .menu > ol > li {
    background: #3c3c3c;
    margin-bottom: 1px;
    position: relative;
    transition: .5s;
    display: inline-block;
    width: 150px;
    border-left: 0;
    display: inline-block;
    margin-left: -5px;
    vertical-align: top;
  }
  .menu > ol > li:nth-child(1) {
    --accent-color: #fafa6e;
    --gradient-color: #c4ec74;
    border-top: 5px solid #fafa6e;
  }
  .menu > ol > li:nth-child(2) {
    --accent-color: #86d780;
    --gradient-color: #41c06e;
    border-top: 5px solid #86d780;
  }
  .menu > ol > li:nth-child(3) {
    --accent-color: #23aa8f;
    --gradient-color: #03b8be;
    border-top: 5px solid #23aa8f;
  }
  .menu > ol > li:nth-child(4) {
    --accent-color: #D8B5FF;
    --gradient-color: #1EAE98;
    border-top: 5px solid #007882;
  }
  .menu > ol > li:nth-child(5) {
    --accent-color: #C6EA8D;
    --gradient-color: #FE90AF;
    border-top: 5px solid #2a4858;
  }
  .menu > ol > li a {
    color: #FBFBFB;
    display: block;
    padding: 15px;
    position: relative;
    text-decoration: none;
    z-index: 1;
    text-align: center;
  }

  .menu ol li a:hover {
      color: #313131;
  }
  
  .menu > ol > li:focus,
  .menu > ol > li:focus-within,
  .menu > ol > li:hover {
    z-index: 100;
  }
  .menu > ol > li:focus:after,
  .menu > ol > li:focus-within:after,
  .menu > ol > li:hover:after {
    background: linear-gradient(to left, var(--accent-color), var(--gradient-color));
    max-width: 800px;
    border-radius: 3px;
    top: -15px;
    bottom: -15px;
    left: -15px;
    right: -15px;
  }

  .menu > ol > li:focus a:before,
  .menu > ol > li:focus-within a:before {
    transform: rotate(-180deg);
  }
  .menu > ol > li:after {
    background: #3c3c3c;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: .5s;
    max-width: 0;
    overflow: hidden;
  }
  .menu > ol .sub-menu {
    border-left: 1px solid #FBFBFB;
    margin-left: 22.5px;
    list-style-type: none;
    max-height: 0px;
    overflow: hidden;
    padding-left: 7.5px;
    position: relative;
    transition: .5s;
    z-index: 1;
    border-left: 0;
    margin: 15px -15px -15px;
    padding-left: 0;
  }
  .menu > ol .sub-menu li {
    font-size: .9em;
  }
  .menu > ol .sub-menu li:hover,
  .menu > ol .sub-menu li a:focus {
    background: rgba(60, 60, 60, 0.3);
  }
  .menu > ol .sub-menu li a:after {
    bottom: 5px;
    height: 1px;
  }
  .menu > ol .sub-menu li a:hover:after,
  .menu > ol .sub-menu li a:focus:after {
    width: 15px;
  }

  .menu > ol > li:hover .sub-menu,
  .menu > ol > li:focus .sub-menu,
  .menu > ol > li:focus-within .sub-menu {
    max-height: 750px;
  }
body {
  width: 100%;
  background-color:#CAE7DF !important;
}



  .container {
    display: flex;
    max-height: 400px;
  }
  

.container2 {
  display: flex;
  background-color :#2A3166;
  color: whitesmoke;
  
}

.button {
  position:relative;
  background-color: rgb(9, 87, 90);
  color: white;
  padding: 20px;
  width: 200px;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
}
.button:hover {
  background-color: #CAE7DF;
  color:black;
}
.jumbotron {
background-color: #F4ABAA;
}
.images{
  text-align:center;
  height: 550px;
  width: 600px

}


/* hover code */
.glow-on-hover { 
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
} 
/* nav bar */

.fa {
  padding: 10px;
  font-size: 40px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  color: #2A3166;
  object-fit: cover;
}
footer  a{
  color: #2A3166;
}
footer p{
  color: #2A3166;
  text-align: center;
  }
.socialmediaicons{
text-align: end;
}
#signs{
  border: #1EAE98 15px;
  border-style:inset;
}
hr{
 color: #2A3166;
 height: 10px;
}